<!DOCTYPE html>
<html>
<title>To Do List</title>

<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<!-- Header -->
  <header class="w3-container w3-red w3-center" style="padding:100px 16px">
    <h1 class="w3-margin w3-jumbo">To Do List</h1>
    <a href="todolists"><button class="w3-btn w3-white w3-padding-large w3-large w3-margin-top">Criar To Do List</button></a>
  </header>

  <!-- Footer -->
  <footer class="w3-container w3-padding-64 w3-center w3-opacity">  
    <div class="w3-xlarge w3-padding-32">
      <a href="https://github.com/Jcns"><i class="fa fa-github w3-hover-opacity"></a></i>
      <a href="https://github.com/mlsbez"><i class="fa fa-github w3-hover-opacity"></a></i>
    </div>
    <p>Developed by <a href="https://github.com/Jcns/K-dastra" target="_blank">Jean e Mariana</a></p>

  </footer>

</body>
</html>